{% extends "base.html" %}

{% block title %}List of ARKs{% endblock %}

{% block content %}
<div class="card w-75 mt-5">
    <div class="card-body">
        <h5 class="card-title">ARKs</h5>
        <table class="table-sm">
            <thead>
                <tr>
                    <th>Ark</th>
                    <th>Title</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {% for ark in arks %}
                <tr>
                    <td>
                        <a href="{{ark.get_absolute_url}}">{{ark}}</a>
                    <td>
                        {{ark.title}}
                    </td>
                    <td>
                        {{ark.created}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}